<% layout('layouts/boilerplate')%>
<div class="d-flex m-3 gap-3">
  <a class="text-reset" href="/admin/student?category=all">
    <button type="button" class="btn btn-secondary">All</button>
  </a>
  <a class="text-reset" href="/admin/student?category=pending">
    <button type="button" class="btn btn-warning">Pending</button>
  </a>
  <a class="text-reset" href="/admin/student?category=accepted">
    <button type="button" class="btn btn-success">Accepted</button>
  </a>
  <a class="text-reset" href="/admin/student?category=rejected">
    <button type="button" class="btn btn-danger">Rejected</button>
  </a>
  <a class="text-reset" href="/admin/student?category=passed">
    <button type="button" class="btn btn-primary">Passed</button>
  </a>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">S. No.</th>
      <th scope="col">Name</th>
      <th scope="col">Father Name</th>
      <th scope="col">Number</th>
      <th scope="col">Email</th>
      <th scope="col">D.O.B</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% for(let student of students){ %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.name %></td>
      <td><%= student.fatherName %></td>
      <td><%= student.contactNumber %></td>
      <td><%= student.email %></td>
      <td><%= format(student.dob, 'MM/dd/yyyy') %></td>
      <td><%= student.gender %></td>
      <td><%= student.address %></td>
      <td class="d-flex gap-2 px-2">
        <form
          action="/student/actions?action=accept&id=<%= student._id %>"
          method="POST"
        >
          <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-thumbs-up"></i>
          </button>
        </form>
        <form
          action="/student/actions?action=reject&id=<%= student._id %>"
          method="POST"
        >
          <button type="submit" class="btn btn-danger">
            <i class="fa-solid fa-thumbs-down"></i>
          </button>
        </form>
        <form
          action="/student/actions?action=passed&id=<%= student._id %>"
          method="POST"
        >
          <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-graduation-cap"></i>
          </button>
        </form>
      </td>
      <td>
        <% if(student.status === 0){ %>
        <button type="button" class="btn btn-warning">Pending</button>
        <% } else if (student.status === -1){ %>
        <button type="button" class="btn btn-danger">Rejected</button>
        <% } else if (student.status === 1){ %>
        <button type="button" class="btn btn-success">Accepted</button>
        <% } else if (student.status === 2){ %>
        <button type="button" class="btn btn-primary">Passed</button>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
